* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(80, 76, 76);
}

:root {
  font-size: 62.5%;
  font-family: "Delicious Handrawn", cursive;
}

.container {
  max-width: 40%;
  margin: 10% auto;
  position: relative;
  box-shadow: 2px 4px 6px rgba(8, 8, 8, 0.3);
  background-image: radial-gradient(#0742b6, #2d82e9, #61a3f5);
  border-radius: 10px;
  padding: 6rem 4rem;
}

.day-night-change {
  width: 4rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.top__gps,
.top__map {
  max-width: 3rem;
}

.top__gps:hover,
.top__map:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.top__search {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(245, 245, 245, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.top__city {
  width: 15rem;

  font-size: 2rem;
  border: 0;
  text-align: center;
  color: rgb(12, 12, 12);
  background-color: transparent;
}

.top__city::placeholder {
  color: rgb(12, 12, 12);
}

.top__city:focus {
  outline: none;
}

.top__btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.top__btn img {
  max-width: 3rem;
}

.top__btn img:focus {
  border: 0;
}

.fill {
  text-align: right;
  font-size: 2rem;
}

.middle {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 30%;
}

.left .data {
  text-align: center;
}

.left .data .date {
  font-size: 2rem;
}

.left .data .day {
  font-size: 3rem;
}

.actual img {
  max-width: 5rem;
}

.actual {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
}

.right div img {
  max-width: 3rem;
}

.center {
  display: flex;
  width: 40%;
  align-items: flex-end;
  justify-content: center;
  background-image: url(icons/bg/04d.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  font-size: 3rem;
  color: whitesmoke;
}

.center__desc {
  background-color: rgba(29, 28, 28, 0.5);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 1px 2px 4px rgba(160, 160, 160, 0.1);
}

.right div {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
}

.right div img:hover {
  filter: grayscale(100%);
}

.right div span {
  font-size: 2rem;
}

.bottom {
  margin-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.bottom__cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3271ee;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(1, 1, 1, 0.5);
  padding: 1rem;
  cursor: pointer;
}

.bottom__cell:hover {
  transform: scale(1.2);
  background-color: #2c64d3;
}

.bottom__cell img {
  max-width: 100%;
}

.bottom__day {
  text-transform: uppercase;
  font-size: 1.8rem;
}

.bottom__temperature {
  font-size: 3rem;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-top-color: #3498db;
  border-bottom: 16px solid rgb(152, 194, 55);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.hidden {
  display: none;
}

.tooltip {
  position: absolute;
  padding: 10px 15px;
  color: whitesmoke;
  background-color: hsla(240, 8%, 3%, 1);
  border-radius: 5px;
  font-size: 2rem;
}

.tooltip::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -9px) rotate(45deg);
  background-color: hsla(240, 8%, 3%, 1);
}

.tooltip__close {
  position: absolute;
  top: 10px;
  transform: translate(50%, -50%);
  right: 10px;
  color: whitesmoke;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
